@model IEnumerable<MusicRoom.Models.PlayList>
@{
    ViewBag.Title = "Play List";
}
<table class="table table-bordered table-striped table-hover" style="width: 85%">
    <audio id="player" controls="controls">
        <source id="mp3_src" src="" type="audio/mp3" />
        Your browser does not support the audio element.
    </audio>
    <thead>
        <tr>
            <th>Author</th>
            <th>Track</th>
            <th>Drop</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Model)
        {
            <tr>
                <td class="track" data-location="/UploadedFiles/@track.TrackPath">@track.Author</td>
                <td class="track" data-location="/UploadedFiles/@track.TrackPath">@track.TrackName</td>
                  <td>  @Html.ActionLink("x", "DeleteTrack", new { trackId = track.PlayListId, returnUrl = this.Request.RawUrl }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Download", "Download", "Search", new { id = track.PlayListId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>



