@{
    ViewBag.Title = "О программе";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<p>Для завершения регистрации пройдите по ссылке отправленной на указанную вами электронную почту</p>
<aside>
    <ul>
        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
    </ul>
</aside>